{% include "header.html" %}

<div class="position-relative">
  {% if logged_in %}
  <h3>Your Daily Logs:</h3>
  <hr>
  <table class="table">
    <thead>
      <th>Date</th>
      <th>Distance</th>
      <th>Duration</th>
      <th>Avarage Speed</th>
    </thead>
    <tbody>
      {% for log in daily_logs %}
      <tr>
        <td>{{log["date"]}}</td>
        <td>{{log["distance"]}}</td>
        <td>{{log["duration"]}}</td>
        <td>{{log["speed"]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {# <p><strong>Total Distance: </strong><span>{{total_distance}}km</span></p> #}

  <div>
    <a href="{{url_for('logwalk')}}"><button class="btn btn-primary m-1">Add New Log</button></a>
    <a href="{{url_for('edit_logs')}}"><button class="btn btn-secondary m-1">Edit Your Logs</button></a>
  </div>
  {% else %}
  <h3>Please log in to see walking stats.</h3>
  {% endif %}
</div>

{% include "footer.html" %}