{% include "header.html" %}
{% if logged_in %}
<h3>Log Your Walk</h3>
<hr>
<form method="Post">
  {{form.hidden_tag()}}
  <div class="mb-3">
    {{ form.date.label(class="form.label") }}
    {{ form.date(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.distance.label(class="form.label") }}
    {{ form.distance(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.time.label(class="form.label") }}
    {{ form.time(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.submit(class="btn btn-primary") }}
    <a href="{{url_for(cancel_url)}}"><button type="button" class="btn btn-secondary m-1">Cancel</button></a>
  </div>
</form>
{% endif %}

{% include "footer.html" %}